html, body { margin: 0; height: 100%; }

h1 {
    text-align: center
}

header {
    width: 100%; 
    height: 15%; 
	background: yellow;
}
section {
    width: 100%; 
    height: 70%;
	background:fuchsia;
}

footer { 
    width: 100%; 
    height: 15%; 
    clear: both; 
	background: mediumpurple;
}